.sx__calendar {
  border-radius: 0;
}

.sx-react-calendar-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 90vh;
}

.sx-react-calendar-wrapper,
.sx-react-calendar-wrapper * {
  color: initial !important;
}

.sx__event {
  cursor: pointer;
}
