services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '${DB_PORT}:${DB_PORT}'

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile.dev
    ports:
      - '${API_PORT}:${API_PORT}'
    environment:
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}
      API_PORT: ${API_PORT}
    depends_on:
      - db

  web:
    build:
      context: .
      dockerfile: Dockerfile.web.dev
    ports:
      - '${WEB_PORT}:${WEB_PORT}'
    environment:
      WEB_PORT: ${WEB_PORT}
      NEXT_PUBLIC_API_URL: http://api:${API_PORT}
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - api
