* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}
