@use "sass:map";
@use "./vars" as *;
@use "./functions" as *;

:root {
  --color-primary: #{map.get($colors, "primary")};
  --color-secondary: #{map.get($colors, "secondary")};
  --color-accent: #{map.get($colors, "accent")};
  --color-blue: #{map.get($colors, "blue")};
  --color-gray: #{map.get($colors, "gray")};
  --color-dark: #{map.get($colors, "dark")};

  --color-bg: #{map.get($colors, "background")};
  --color-surface: #{map.get($colors, "surface")};
  --color-stars: #{map.get($colors, "stars")};

  --color-text: #{map.get($colors, "black")};
  --color-text-hover: #{opacity(map.get($colors, "black"), 60)};
  --color-border: #{map.get($colors, "gray")};

  --color-nav-link-active: #{opacity(map.get($colors, "black"), 5)};
}

// Для темної теми просто змінюємо значення змінних, і браузер автоматично все застосує
[data-them="dark"] {
  --color-primary: #{map.get($colors, "primary")};
  --color-secondary: #{map.get($colors, "secondary")};
  --color-accent: #{map.get($colors, "accent")};
  --color-blue: #{map.get($colors, "blue")};
  --color-gray: #{map.get($colors, "gray")};
  --color-dark: #{map.get($colors, "dark")};

  --color-bg: #{map.get($colors, "background")}; // треба потім поміняти на темніший колір
  --color-surface: #{map.get($colors, "surface")}; // треба потім поміняти на темніший колір
  --color-text: #{map.get($colors, "black")}; // треба потім поміняти на світліший колір
  --color-text-hover: #{opacity(map.get($colors, "black"), 50)};
  --color-border: #{map.get($colors, "gray")};

  --color-nav-link-active: #{opacity(map.get($colors, "black"), 5)};
}

body,
a {
  color: var(--color-text);
}
