@use "./resets";
@use "./fonts";
@use "./theme";
@use "./typography";
@use "./vars" as *;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-bg);
}
